body {
    margin:0;
    padding: 0;
    font-family: 'Solitreo', cursive;
    
}

.des {
    
    font-weight : 100;
    padding-top : 15px;
}

.container {
  
    opacity : 0.98;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    margin-top : 20px;
    margin-left : 40px;

    
}

@media only screen and (max-width : 1150px) {
    .container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
        
        
    }
}

@media only screen and (max-width : 875px) {
    .container {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
        
        
    }

    .card {
        width : 300px;
        padding : 15px;
    }
    
    

}



.price {
    font-size : 25px;
    font-family: 'Bebas Neue', cursive;
}

.card {
    background-color : white;
    margin : 10px;
    margin-bottom : 50px;
    border-radius : 4px;
    height : fit-content;
    text-align : center;
    width : 250px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.763);
    padding-bottom : 15px;
   
}

@media only screen and (max-width : 675px) {
    .container {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;   
       
    }

    .card {
        width : 400px;
        
        margin-left : 2rem;
    }

    
}

@media only screen and (max-width : 550px) {
    .container {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;   
        
    }

    .card {
        width : 300px;
        
        margin-left : 2rem;
    }

    
}

@media only screen and (max-width : 450px) {
    .container {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;   
        
    }

    .card {
        width : 250px;
        
        margin-left : 2rem;
    }

    
}

@media only screen and (max-width : 385px) {
    .container {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;   
     
    }

    .card {
        
        
       margin-left : -3%;
    }

    
}

@media only screen and (max-width : 300px) {
    .container {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;   
     
    }

    .card {
       width : fit-content;
    } 
}

@media only screen and (max-width : 279px) {
    .container {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;   
     
    }

    .card {
       display : none;
    } 
}

.card:hover {
    margin-top:-1px;
    transition-duration : 1s;
    
}



.card:hover {
    cursor : pointer;
    
}


.image-cards {
    display: flex;
    width : 180px;
    height : 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom : -20px;
    margin-top : -20px;
}

